@page
@model School.UI.Pages.Teachers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Teacher.ID" />
            <div class="form-group">
                <label asp-for="Teacher.LastName" class="control-label"></label>
                <input asp-for="Teacher.LastName" class="form-control" />
                <span asp-validation-for="Teacher.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.FirstMidName" class="control-label"></label>
                <input asp-for="Teacher.FirstMidName" class="form-control" />
                <span asp-validation-for="Teacher.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.PositionAssignments.Position" class="control-label"></label>
                <input asp-for="Teacher.PositionAssignments.Position" class="form-control" />
                <span asp-validation-for="Teacher.PositionAssignments.Position" class="text-danger" />
            </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <table>
                                <tr>
                                    @{
                                        int cnt = 0;

                                        foreach (var subject in Model.AssignedSubjectDataList)
                                        {
                                            if (cnt++ % 3 == 0)
                                            {
                                                @:</tr><tr>
                                            }
                                            @:<td>
                                                <input type="checkbox"
                                                       name="selectedCourses"
                                                       value="@subject.SubjectID"
                                                       @(Html.Raw(subject.Assigned ? "checked=\"checked\"" : "")) />
                                                       @subject.SubjectID @:  @subject.Title
                                            @:</td>
                                        }
                                        @:</tr>
                                    }
                            </table>
                        </div>
                    </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
